---
layout: archive
author_profile: true
read_time: false
---

{% include base_path %}

<h1>Shane's Interpretation Of The Apache Way</h1>

<p>The Apache Way is a set of community behaviors and aspects used to great success over many years at over 100 Apache Software Foundation (ASF) projects.  These concepts can help any distributed group of people working on easily shareable work, like software or documentation.</p>
  
<p>
The Apache Way is sort of like Zen. It's something that's difficult to explain, has many interpretations, and the best way to learn it is to do it. 
This is devoted to one interpretation of The Apache Way – the one that I've learned over the years of participating at the ASF. Many of the communities at the ASF believe that some form of The Apache Way is a great way to collaboratively develop software, and many individuals at the ASF exemplify the values of The Apache Way.
</p>

{% include allways.html %}

