---
layout: archive
author_profile: true
read_time: false
---

{% include base_path %}

<h1>Shane's Interpretation Of The Apache Way</h1>

<p>The Apache Way is a set of community behaviors and aspects used to great success over many years at over 200 Apache Software Foundation (ASF) projects.  These concepts can help any distributed group of people working on easily shareable work, like software or documentation.</p>
  
<p>
The Apache Way is sort of like Zen. It's something that's difficult to explain, has many interpretations, and the best way to learn it is to do it. 
This is devoted to one interpretation of The Apache Way – the one that I've learned over the years of participating at the ASF. Many of the communities at the ASF believe that some form of The Apache Way is a great way to collaboratively develop software, and many individuals at the ASF exemplify the values of The Apache Way.  For more Apache Way perspectives, see the <a href="https://www.apache.org/theapacheway/index.html">ASF Briefing</a>.
</p>

{% include allways.html %}

<h2>Trademarks</h2>

<p class="notice--info">Apache®, the feather logo, and the names of all Apache projects referenced are either <a href="https://www.apache.org/foundation/marks/">registered trademarks or trademarks</a> of the <a href="http://www.apache.org/">Apache Software Foundation</a> in the United States and/or other countries.  The Apache Software Foundation has no affiliation with and does not endorse or review the materials provided at this website, which is managed by Shane Curcuru as an individual.</p>
  
<p>Shane <i>is</i> a member of the <a href="https://community.apache.org/">Apache Community Development project</a>, and loves to talk about the Apache Way on the <a href="https://lists.apache.org/list.html?dev@community.apache.org">ComDev mailing lists</a>.</p>