{% assign linetitle = post.excerpt | markdownify | strip_html | truncate: 160 %}
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p class="archive__item-excerpt" itemprop="description">
      {% if post.link %}
        <a href="{{ post.link }}">{{ linetitle }}</a> <a href="{{ post.url | absolute_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | absolute_url }}" rel="permalink">{{ linetitle }}</a>
      {% endif %}
    </p>
  </article>
</div>